.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page {
  width: 100vw;
}

.main {
  display: flex;
}

page-title {
  font-weight: bold;
  font-size: 80px;
  margin: 20px
}

h1 {
  font-weight: bold;
  color: #4D64E8;
  font-size: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.space-between-label-and-text {
  margin-left: 20px;
}

.space-left {
  margin-left: 80px;
  margin-top: 20px;
}

.space-right {
  margin-right: 100px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
